{% extends 'layouts/app.html' %}

{% block content %}

<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 3fr;">
      <div class="bg-light border rounded-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-5">Административная часть</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'events' %}" class="nav-link active" aria-current="page">
          Событие
        </a>
      </li>
      <li>
        <a href="{% url 'units' %}" class="nav-link link-dark">
          Подразделение
        </a>
      </li>

    </ul>
    <hr>
  </div>
      </div>
      <div class="bg-light border rounded-3">
        <div class="d-flex row ">
          <div class="col-8">
              <h2 style="padding:10px 20px">Событие</h2>
          </div>
          <div style="justify-content: flex-end;
display: flex;" class="col-4">
              <a href="{% url 'loadevents' %}" class="btn btn-primary">Обновить</a>
              <a href="{% url 'todayView' %}" class="btn btn-primary">Сегодняшний</a>
              <a href="{% url 'loadTestEvents' %}" class="btn btn-primary">Test</a>
          </div>
      </div>
        <ul class="list-group">
            {% for event in events %}
          <li class="list-group-item">{{event.f_unic_id}}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}